{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
		 *{
    font-family: 'Mochiy Pop P One', sans-serif;
    }
        body {
            background-color: #bdbebd
            }
          a {
            text-decoration: none;
            color: black;
            transition: 0.8s;
            }
          a:hover {
            color: brown;
            transition: 0.5s;
            }
</style>
  {% if user.is_authenticated %}
  <form method="post" enctype="multipart/form-data">

    {% csrf_token %}
    <p>{{ post_form.as_p }}</p>

    <button  type="submit" class="btn btn-success">Create</button>
  </form>
{% endif %}
{% endblock %}