{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% if user.is_authenticated %}

<form method="post" style="padding: 30px;" id="postform"  enctype="multipart/form-data">

       {% csrf_token %}
   {% for hidden in post_form.hidden_fields %}
       <p>{{ hidden }}</p>
    {% endfor %}
    {% for field in postForm %}
     <p style="padding: 5px; font-size:200%;">  {{ field }}</p>
    {% endfor %}
    <p style="padding: 21px; ">{{ formset.management_form }}</p>
    {% for form in formset %}
        {{ form }}
    {% endfor %}

    <p style="padding: 30px;"><input type="submit" name="submit" value="Submit" /></p>

</form>
{% endif %}
{% endblock %}
