{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Content -->
	<div id="content">
		<div class="inner">
			<!-- Post -->
			{% for post in page_obj %}
			{{ post.pk }}
				<article class="box post post-excerpt">
					<header>
						<div class="post_detail">
						{{ post.created_date }}
						<h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.post }}</a></h2>
						{% if post.image %}
							<a  href="{% url 'post_detail' pk=post.pk %}"  class="image" > <img src="{{ post.image.url }}" style="width: 400px; height: auto; padding: 10px;" ></a>
						{% else %}
							<a  href="{% url 'post_detail' pk=post.pk %}" class="image"> <img src="{% static 'default.jpg' %}" style="width: 400px; height: auto; padding: 10px;"></a>
						{% endif %}
						<p>{{ post.text|linebreaksbr }}</p>
						</div>
					</header>
					<div class="info">
						<ul class="stats">
							<li><a href="{% url 'post_detail' pk=post.pk %}" class="icon fa-comment">{{ post.pk }}</a></li>
							<li><a href="#" class="icon fa-heart">0</a></li>
							<li><a href="https://twitter.com/" class="icon brands fa-twitter">122</a></li>
							<li><a href="https://www.instagram.com/" class="icon brands fa-instagram">333</a></li>
						</ul>
					</div>
					{% endfor %}
				</article>
			<!-- Pagination -->

 {% if is_paginated %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
          {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="{% url 'list' %}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
          {% endif %}
        <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
          {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="{% url 'list' %}?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
          {% endif %}
      </ul>
    </nav>
    {% endif %}
</div>
</div>
{% endblock %}

