{% extends 'base.html' %}
{% load static %}
{% block content %}


</div>
<div class="post_detail">
    {% if post.image %}
    <b><h1 style="padding: 30px">{{ post.post }}</h1></b>
        <h3 style="padding: 30px">{{ post.title }}</h3>
        <img  src="{{ post.image.url }}" style="width: 800px; height: auto; padding: 30px;">
    {% else %}
        <img src="{% static 'default.jpg' %}"style="width: 800px; height: auto; padding: 30px;">
    {% endif %}
    {% for image in images %}
        <div><img src="{{ image }}" style="width: 800px; height: auto; padding: 30px;" class="rounded" alt="..."></div>
    {% endfor %}
    {% if request.user.is_authenticated and post.user == request.user  %}
    <a style="padding: 20px" href="{% url 'update' post.id %}"><i class="fas fa-edit"></i></a>
    <a style="padding: 20px" href="{% url 'delete' post.id %}"><i class="fas fa-trash"></i></a>
    {% endif %}
    <h5 style="padding: 20px">{{ post.created_date }}</h5>
<br/><br/>
    <hr>
    <br/>
    <form action="{% url 'like_post' post.pk %}" method="post">
        {% csrf_token %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">
            Like</button>  {{ total_likes }} Likes
    </form>

    <br/><br/>

<h2>Comments...</h2>
<hr>
{% if not post.comments.all %}
    no Comments Yet...<a href="{% url 'add_comment' post.pk %}">Add One </a>
{% else %}
         <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
<br/><br/>

    {% for comment in post.comments.all %}
        <strong>
        {{ comment.name }}
        {{ comment.created_on }}
        </strong>
        <br/>
        {{ comment.body }}
        <br/>
        <hr>
    {% endfor %}
{% endif %}
        <br/>
        <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
        <br/><br/><br/>
</div>
{% endblock %}
