{% extends 'base.html' %}
{% load static %}
{% block content %}


<div style="sstyckground-color: #ff8732; height: 150px;"></div>

<div class="post_detail">
    {% if post.image %}
        <h2>{{ post.post }}</h2>
        <h4>{{ post.title }}</h4>
        <img src="{{ post.image.url }}" style="width: 300px; height: auto; padding: 10px;">
    {% else %}
        <img src="{% static 'default.jpg' %}" style="width: 300px; height: auto; padding: 10px;">
    {% endif %}
    {% for image in images %}
        <div class="text-center"><img src="{{ image }}" class="rounded" alt="..."></div>
    {% endfor %}
    {% if request.user.is_authenticated and post.user == request.user  %}
    <a class="btn btn-info" href="{% url 'update' post.id %}" role="button">Update</a>
    <a class="btn btn-danger" href="{% url 'delete' post.id %}" role="button">Delete</a>
    {% endif %}
    <h5>{{ post.created_date }}</h5>
<br/><br/>
    <hr>
    <br/>
    <form action="{% url 'like_post' post.pk %}" method="post">
        {% csrf_token %}
        <button type="submit"  name="post_id"  value="{{ post.id }}"  class="btn btn-primary btn-sm">
            Like</button>  {{ total_likes }} Likes
    </form>

    <br/><br/>

<h2>Comments...</h2>
<hr>
{% if request.user.is_authenticated %}
{% if not post.comments.all %}
    no Comments Yet...<a href="{% url 'add_comment' post.pk %}">Add One</a>
{% else %}
         <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
<br/><br/>

    {% for comment in post.comments.all %}
        <strong>
        {{ comment.name }}
        {{ comment.created_on }}
        </strong>
        <br/>
        {{ comment.body }}
        <br/>
        <hr>
    {% endfor %}
{% endif %}
        <br/>
        <br/><br/><br/>
{% endif %}
</div>

{% endblock %}
