{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="card" style="width: 25rem; height: 32rem;">
    {% if post.image %}
  <img src="{{ post.image.url }}" class="card-img-top" alt="...">
     {% else %}
    <img src="{% static 'default.jpg' %}"style="width: 300px; height: auto; padding: 10px;">
    {% endif %}
    {% for image in images %}
    <img src="{{ image }}" class="rounded" alt="...">
    {% endfor %}
  <div class="card-body">
    <h1 class="card-title">{{ post.post }}</h1>
    <p class="card-text">{{ post.title }}</p>
    <a href="{% url 'update' post.id %}"><i class="fas fa-edit"></i></a>
      <a href="{% url 'delete' post.id %}"><i class="fas fa-trash"></i></a>
  </div>
</div>

{% endblock %}