{% extends 'base.html' %}

{% block content %}
    <form style="padding: 40px;" id="post_form" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ post_form.as_p }}
    {% for hidden in postForm.hidden_fields %}
       <p> {{ hidden }}</p>
    {% endfor %}

    {% for field in postForm %}
        <p>{{ field }} <br /></p>
    {% endfor %}

    {{ formset.management_form }}
    {% for form in formset %}
       <p>{{ form }}</p>
    {% endfor %}


    <button type="submit" class="btn btn-warning">Update</button>
  </form>


{% endblock %}
